<!-- Modal -->
    <div class="modal fade" id="referenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">References</span>
            </button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          
            <%= simple_form_for Pet.new do |f| %>
              <div class="modal-body">
                <%= f.input :name %>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">View all references</button>
                <%= f.submit 'Create', class: 'btn btn-primary' %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">Introduction</span>
            </button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          
            <%= simple_form_for Pet.new do |f| %>
              <div class="modal-body">
                <%= f.input :name %>
                <%= f.input :type,  as: :radio_buttons, collection: [['0', 'cat'], ['1', 'dog']], label_method: :second, value_method: :first %>
                <%= f.input :gender, as: :radio_buttons, collection: [['0', 'female'], ['1', 'male']], label_method: :second, value_method: :first %> 
                <%= f.input :age %> 
                <%= f.input :medication, as: :radio_buttons %>
                <%= f.input :pay, as: :radio_buttons %>
              </div>

              <% @pet.photos.each do |photo| %>
                  <div class="column">
                    <%= image_tag photo.picture.url unless photo.picture.blank? %>
                    <%= photo.caption %>
                  </div>
              <% end %>

              <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <span>Amount: $5.00</span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="A month's subscription"
                  data-amount="500"
                  data-locale="auto"></script>
        <% end %>
 
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit 'Create', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>