<head>
  <title>Sitting</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="flex-content-container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <%= link_to "Ryan's Petsitting", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        
        <ul class="navbar-nav">
          <% if client_signed_in? %>
            <li class="nav-item">
              <%= link_to 'My Dashboard', dashboard_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path, class: 'nav-link', data: {toggle: 'modal', target: '#referenceModal'} do %>
              <i class="fa fa-plus-circle"></i>
                References
              <% end %>
          </li>
          <li class="nav-item">
              <%= link_to 'Book Me', '#', class: 'nav-link', data: {toggle: 'modal', target: '#myModal'} %>
          </li>
          <li class="nav-item">
                <%= link_to 'Sign out', destroy_client_session_path, method: :delete, class: 'nav-link', method: :delete %>
            </li>
              <% else %>
            <li class="nav-item">
              <%= link_to 'Sign in', new_client_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_client_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        </ul>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>


    <!-- Modal -->
    <div class="modal fade" id="referenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              
              <span aria-hidden="true">Add a Reference</span>
            </button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          
            <%= simple_form_for Pet.new do |f| %>
              <div class="modal-body">
                <%= f.input :name %>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">View all references</button>
                <%= f.submit 'Create', class: 'btn btn-primary' %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              
              <span aria-hidden="true">Pet Introduction</span>
            </button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          
            <%= simple_form_for Pet.new do |f| %>
              <div class="modal-body">
                <%= f.input :name %>
                <%= f.input :types,  as: :radio_buttons, collection: [['0', 'Cat'], ['1', 'Dog']], label_method: :second, value_method: :first %>
                <%# <%= f.input :gender, as: :radio_buttons, collection: [['0', 'female'], ['1', 'male']], label_method: :second, value_method: :first %>
                <%= f.input :age, :collection => 1..20 %> 
                <%= f.input :medication, as: :radio_buttons %>
                <%# <%= f.input :pay, as: :radio_buttons %> 
              </div>

              <%# <% @pet.photos.each do |photo| %> 
                  <%# <div class="column"> %>
                    <%# <%= image_tag photo.picture.url unless photo.picture.blank? %> 
                    <%# <%= photo.caption %> 
                  <%# </div> %>
              <%# <% end %> 

          <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <span>Amount: $30.00</span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Sitting / Per Night"
                  data-amount="3000"
                  data-locale="auto"></script>
        <% end %>
 
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit 'Create', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag 'smokey.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Smokey - Barn cat on my Grandparents' farm</h3>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'dog2.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>This is a dog...</h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <%= render "layouts/alerts" %>
  <%= yield %>

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-3">
          <b>Contact:</b>
          <br />
          Ryan Heckman
          <br />
          ryanspetsitting@gmail.com
          <br />
          Oro Valley, AZ, 85704
        </div>
        
        <div class="col-12 col-sm-3">
          <b>Social:</b>
          <br />
          <br />
          <%= link_to 'http://facebook.com/ryanspetsittingtucson' do %>
          <span class="fa fa-facebook-square fa-2x social-button"></span>
          <% end %>
          <%= link_to 'https://twitter.com/ryanspetsit_tuc' do %>
          <span class="fa fa-twitter-square fa-2x social-button"></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>